body {
	background-color: rgb(145, 184, 104);
}

#nav-bar {

}

#nav-bar ul {
	list-style: none;
	text-align: center;
	border-bottom: 1px dashed rgba(0,0,0, 0.5);
}

#nav-bar li {
	display: inline-block;
	padding: 25px 0;
}

#nav-bar a {
	padding: 25px 60px;
	text-decoration: none;
	color: black;
}

#nav-bar li:hover {
	position: relative;
	transform: skew(160deg);
	border-radius: 25px 0;
	background-color: rgb(145, 184, 104);
}

#nav-bar ul li:hover:after {
	background-image: radial-gradient(circle at 0 0, rgba(255, 255, 255, 0) 25px, rgb(145, 184, 104) 25px);
	content: '';
	bottom: 0;
	left: -24px;
	width: 25px;
	height: 25px;
	position: absolute;
}

#nav-bar ul li:hover:before {
	background-image: radial-gradient(circle at 100% 100%, rgba(255, 255, 255, 0) 25px, rgb(145, 184, 104) 25px);
	content: '';
	top: 0;
	right: -24px;
	width: 25px;
	height: 25px;
	position: absolute;
}

#center-body {
	width: 85%;
	min-height: 1000px;
	background-color: rgba(255, 255, 255, 0.7);
	box-shadow: 0 2px 10px black;
	border-radius: 5px;
	margin: 0 auto;
}

#center-content {
	width: 59%;
	margin: 0 auto;
	padding: 5% 0.5%;
	border-left: 1px solid rgba(0, 0, 0, 0.1);
	border-right: 1px solid rgba(0, 0, 0, 0.1);
}

#center-content h2 {
	text-align: center;
	text-decoration: underline;
}

#left-content {
	clear: both;
	float: left;
	width: 20%;
}

#right-content {
	float: right;
	width: 20%;
}

.post-list {
	list-style: none;
	padding: 0;

} 

.post-li {
	border-bottom: 1px dashed rgba(0, 0, 0, 0.1);
	text-align: center;
	padding-bottom: 3%;
	padding-top: 3%;
}

.post {
	margin: 1% auto;
}

.post-link {
}

.post img {
	max-width: 90%;
}

.message {
	text-align: justify;
	width: 90%;
	margin: 1% auto; 
}